
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

nav, .hero-section{
    padding: 20px;
}
.banner{
    max-width: 1440px;
    max-width: 0px auto;
    background: #111111;
}
.hide{
    color:white;
    display: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border: .1px solid gray;
    border-radius: 40px;
    padding-left:  0px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color:white;
    font-size: 1rem;
    font-family: Inter;
    padding: 10px 25px;
    font-weight: 400;
}
.logo{
    font-size: 2rem ;
    font-family: Inter;
    font-weight: 800;
    color:#E6533C;
}
.btn{
    background-color: #E6533C;
    border-radius: 2.5rem ;
    text-align: center;
    padding:;
    border: none;
    color:white;
    font-family: Inter;
}
.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero-title{
    max-width: 520px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.2rem;
    font-weight: 900;
    text-align: left;
    font-family: Inter;

}
.hero-subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;
    font-family: Inter;
    max-width: 520px;
}
.shape{
    font-family: "Miama", sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    text-align: left;
    color:white;
    max-width: 52px;
}
.btn1{
    color:white;
    font-size: 1rem;
    font-family: Inter;
    font-weight: 400;
    max-width: 520px;
    background-color: #E6533C;
    border-radius: 40px;
    padding: 15px 40px;
    border: none;
    font-family: Inter;
}
.btn2{
    background-color: #111111;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    max-width: 520px;
    border-radius: 40px;
    padding: 15px 40px;
    font-family: Inter;
    border: 1px solid white;
}
.progress{
    background-color:black;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.progress-img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.progress-info{
    max-width: 670px;
    margin: 0px auto;
}
.progress-title{
    font-size: 4rem;
    color:white;
    font-weight: 800;
    font-family: Inter;

}
.progress-subtitle{
    font-size: 1.4rem ;
    font-weight: 300;
    font-family: Inter;
    color: white;
    opacity: 50%;
}

.progress-icon img, .progress-icon img, .progress-icon img, .progress-icon img{
    border-radius: 100px;
    max-width: 180px;
    min-height: 180px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    
}
.icon-title{
    font-size: 1.2rem;
    color:white;
    font-weight: 400;
    font-family: Inter;
}
.icon-subtitle{
    font-size: .7rem ;
    font-weight: 300;
    font-family: Inter;
    color: white;
    opacity: 50%;
}
.progress-icon{
    max-width: 250px;
    margin-top: 50px;
}

.run{
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding: 10px 20px;
}
.run-img img{
    max-width: 23rem;
    border-radius: 20px;
}

.offer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #111111;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 1440px;
    margin: 0px auto;
    padding:  100px 20px;
    
}


.test-chart{
    background-color: #111111;
    max-width: 1440px;
    text-align: center;
    padding: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 100px;
}
.test{
    max-width: 1440px;
    background-color: #222222;
    padding: 10px 20px 100px 20px;
}
.chart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 20px;

}

table{
    border-collapse: collapse;
    
}
td,th{
    border: white;
    padding:5px 10px;
    color:#777777;
    border: 1px solid #777777;
}
.form-container{
    max-width: 50%;
    
}
.bmi-title{
    font-size: 1.4rem;
    font-family: Inter;
    font-weight: 500;
    color:white;
}

.submit{
    background-color: #E6533C;
    max-width: 100px;
    max-height: 30px;
    padding: 10px;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;
    color: white;
}
input{
    width: 50%;
    height: 40px;
    background-color: #333333;
    color:#222222;
    border: none;
    border-radius: 10px;
}
 .form-mix > select{
    width: 50%;
    height: 40px;
    background-color: #333333;
    border-radius: 10px;
    color:#777777;
    border: none;
}
.form-footer > select{
    height: 40px;
    background-color: #333333;
    border-radius: 10px;
    color:#777777;
    border: none;
}
.form-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-header{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.form-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.form-mix{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.team-container{
    display: grid;
    position: relative;
    grid-template-columns: 400px 400px 400px ;
    grid-template-rows: repeat(3, 400px);
    gap: 10px;
    justify-content: space-around;
}
.team{
    max-width: 1440px;
    margin: 0px auto;
    background-color: #111111;
}
.member{
    position: relative;
    border-radius: 20px;
}
#member1{
    background-image: url('../images/trainer1.png');
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
}
#member2{
    background-image: url('../images/trainer2.png');
    background-repeat: no-repeat;
}
#member3{
    background-image: url('../images/trainer2.png');
    background-repeat: no-repeat;
    height:fit-content;
    width: fit-content;
}
#member4{
    background-image: url('../images/trainer2.png');
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}
#member5{
    background-image: url('../images/trainer1.png');
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}
#member6{
    background-image: url('../images/trainer2.png');
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}

 .member > img{
    width: 100%;
    height: 100%;
    
}
.info{
    position: left bottom;
}
.member-title .member-subtitle{
    position: absolute;
    position: left bottom;
}
.member-title{
    font-size: 2rem;
    font-family: Inter;
    font-weight: 500;
    color:white;
}
.member-subtitle{
    font-size: .7rem;
    font-family: Inter;
    font-weight: 300;
    color:white;
    opacity: .5;
    max-width: 300px;
}

.contact-part{
    background-color: #222222;
    max-width: 1440px;
    margin: 0px auto;
}
.contact-logo{
    font-size: 3rem;
    font-family: Inter;
    font-weight: 500;
    color:#E6533C;

}

.contact-subtitle{
    font-size: .8rem;
    font-family: Inter;
    font-weight: 300;
    color:white;
    opacity: .5;
    max-width: 300px;

}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    
}
.contact-title{
    font-size: 2rem;
    font-family: Inter;
    font-weight: 500;
    color:white;
}.contact-subtitle{
    font-size: .8rem;
    font-family: Inter;
    font-weight: 300;
    color:white;
    opacity: .5;
    max-width: 300px;

}
.skill-title{
    font-size: 2rem;
    font-family: Inter;
    font-weight: 500;
    color:white;
}.skill-subtitle{
    font-size: .8rem;
    font-family: Inter;
    font-weight: 300;
    color:white;
    opacity: .5;
    max-width: 300px;

}

.copy{
    color: white;
    text-align: center;
    opacity: .5;
    font-size: .7rem;
    font-weight: 200;
}


@media screen and (max-width: 576px) {
    .nav-icon{
        display: none;
    }
    .hero-info, .progress, .run{
        max-width: 570px;
        margin: 0px auto;
    }
    .hero-section{
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
    }
    .hero-btn{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .hero-title, .progress-info{
        max-width: 350px;
        font-size: 2rem;
        font-weight: 900;
        text-align: left;
    }
    .hero-subtitle{
        font-weight: 400;
        font-size: 1rem;
        max-width: 350px;
    }
    .shape{
        font-family: custom-font;
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
    }
    .hide{
        display: block;
    }
    .progress-img{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .progress-title{
        max-width: 350px;
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
    }
    .progress-subtitle{
        font-weight: 400;
        font-size: 1rem;
        max-width: 350px;
    }
    .run{
        flex-direction: column;
        gap: 20px;
        text-align: left;

    }
    .run-content{
        align-items: center;
    }
    .chart{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        max-width: 540px;
        
    }
    .contact{
        flex-direction: column;
        max-width: 100%;
        gap: 20px;
        justify-content: left;
        text-align: left;
        align-items: flex-start;
        padding: 20px;
    }
    .copy{
        text-align: left;
        padding: 20px;
    }
    .team-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}